{
  "singleQuote": true,
  "arrowParens": "avoid",
  "trailingComma": "all",
  "importOrder": [
    "^@code-pushup/portal-client$",
    "^@code-pushup/(.*)$",
    "^[./]"
  ],
  "importOrderSortSpecifiers": true
}
