{
  "singleQuote": true,
  "arrowParens": "avoid",
  "trailingComma": "all",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^@code-pushup/portal-client$",
    "^@code-pushup/(.*)$",
    "^[./]"
  ],
  "importOrderSortSpecifiers": true,
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "trailingComma": "none"
      }
    }
  ]
}
