name: PR Labeler

on:
  pull_request:
    types: [opened, synchronize]

jobs:
  label:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3
      - uses: actions/labeler@v3
        with:
          dot: true
          repo-token: '${{ secrets.GITHUB_TOKEN }}'
